DISCORD_TOKEN=
ALLOWED_GUILD_ID=
ALLOWED_USER_IDS=
DISCORDCODEX_LOG_LEVEL=INFO
DISCORDCODEX_GIT_USERNAME=
DISCORDCODEX_GIT_CREDENTIAL_TOKEN=
DISCORDCODEX_GIT_CREDENTIAL_TOKEN_FILE=
DISCORDCODEX_GITHUB_API_TOKEN=
DISCORDCODEX_GITHUB_API_TOKEN_FILE=
